
.vs/FirstProject/v16/.suo
.vs/FirstProject/v16/Browse.VC.db
.vs/FirstProject/v16/Browse.VC.db-shm
.vs/FirstProject/v16/Browse.VC.opendb
.vs/FirstProject/v16/Browse.VC.db-wal
FirstProject.sln
.vs/FirstProject/v16/ipch/AutoPCH/d7692f140718061/MAIN.ipch
